# Django
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
*.log

# Media and static files
/media/
/staticfiles/
/static/

# Environment
.env
*.env

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Migrations
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.sqlite3
*/migrations/*.log
*/migrations/*.env
*/migrations/*.swp
*/migrations/*.DS_Store
*/migrations/Thumbs.db
*/migrations/*.py
!*/migrations/__init__.py